.main {
  margin-top: 110px;
  &-description {
    text-align: center;
    box-shadow: 2px 2px 15px rgba(110, 155, 162, 0.27);
    padding: 25px 50px;
    border-radius: 15px;
    margin: 0 auto;
    &__title {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 15px;
      line-height: 130%;
    }
  }
}

@media (max-width: 768px) {
  .main {
    margin-top: 20px;
    &-description {
      box-shadow: none;
      padding: 0;
    }
  }
}
